header{
    display: flex;
    text-align: center;
    background-color:rgb(129, 220, 64);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}
.brand{
    display: flex;
    padding: 10px;
    margin: 5px;
    font-size: xx-large;
    color: white;
}
nav a{
    padding: 5px;
    margin: 5px;
    margin-left: 100px;
    text-decoration: none;
    color: white ;
    margin-top: 10px;
    display: inline-flex;
    font-size: medium;
    font-weight: 700;
}
.menu{
    margin-top: 20px;
    display: inline-flex;
    margin-left: 300px;
    font-size: large;
    color: white;
    padding: 10px;
    margin: 10px;
    display: none;

}
nav :hover{
    color: black;
}
#btn{
    border-radius: 15px;
    border: 1;
    border-color: white;
    color: white;
    background-color: rgb(129, 220, 64);
}
section{
    display: flex;
    padding-top: 150px;
}
section img{
    height: 650px;
    padding-bottom: 100px;
}
section .welcome{
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: black;
}
#joinUs{
    background-color: rgb(129, 220, 64);
    padding: 10px;
    color: white;
    border-radius: 2px;
}
footer{
    display: flex;
    text-align: center;
    background-color:rgb(129, 220, 64);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
}
footer .content :hover{
    color: black;
}
.content{
    display: flex;
    text-align: center;
    padding-left: 400px;
    /* margin-left: 200px;
    padding-top: 40px; */
}
.content a{
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 5px;
    font-size: medium;
    font-weight: 700;
    margin-top: 10px;
    display: flex;
}


