header{
    display: flex;
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: blue;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}
.brand{
    display: flex;
    font-size: xx-large;
    color: rgb(246, 237, 237);
}
nav a{
    margin-left: 120px;
    text-decoration: none;
    color: white ;
    margin-top: 10px;
    display: inline-flex;
    font-size: medium;
    font-weight: 700;
}
nav :hover{
    color: black;
}
#btn{
    border-radius: 15px;
    border: 1;
    border-color: white;
    color: white;
    background-color: blue;
}
